@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>O simpla aplicatie care nu face nimic</h1>
    <p class="lead">Orice limbaj este bine venit</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

 