@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Publicare în Cloud a unei app care nu face nimic...</h1>
    <p class="lead">dar limbajul contează, asta este C#, dar poate fi Java, Python,etc</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

